.level100{
  display: flex;
  flex-flow: row wrap;
}

footer {
  background-color: #efe5dc;
  padding: 1%;
  margin-bottom: 0px;
}
.changeStructure{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.imageDimensions{
  height: 20%;
}

button{
  margin-left: 35%;
  margin-right: 35%;
}